<form action="/users" method="POST" accept-charset="UTF-8">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]">

    <label for="password">Password:</label>
    <input type="password" id="user_password" name="user[password]">

    <label for="email">E-mail:</label>
    <input type="text" id="email" name="user[email]">

    <input type="submit" value="submit">
</form>